body,h1,h2,h3,h4,h5,h6,p,a {
  color: #0a0a0a;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.4;
}

body {
  margin:20px;
}

a {
  color:#2916e0;
}

h1 {
  font-size: 2em;
  color: #ff0048;
  font-weight: bold;
  margin: 1em 0 0;
}

h2 {
  font-size: 1.5em;
  margin:0 0 2em;
}

h1,h2 {
  text-align: center;
}


h3 {
  font-size: 1.3em;
  margin: 3em 0 1em;
  font-weight: bold;
}

h4 {
  font-size: 1.1em;
  margin: 1.5em 0 1em;
  font-weight: bold;
}

h4 a {
  font-weight: bold;
}

ul {
  margin: 0 0 3em;
}

ul li {
  margin-bottom: 1em;
}

p {
  margin: 0 0 1.5em;
}

blockquote {
  font-style: italic;
}
