<div class="abonneer-op-82procent">
  <h3>🎯 Abonneer je op mijn wekelijkse nieuwsbrief</h3>
  <p>Ik stuur wekelijks de 82% nieuwsbrief met opmerkelijk klikbare zaken. Ook gratis ontvangen?</p>
  <p><a href="http://82procent.nl">Abonneer je via 82procent.nl</a></p>
  <p>Je kan me natuurlijk ook via Twitter volgen, krijg je ook een hoop mee:</p>
  <p class="twitter-widget">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.32d6c6b4cb1ed84df04e7f9705a90c47.nl.html#dnt=false&amp;id=twitter-widget-0&amp;lang=nl&amp;screen_name=reinier&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1536324718573" data-screen-name="reinier" style="position: static; visibility: visible; width: 192px; height: 20px;"></iframe>
  </p>
  <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>

</div>
